
html {
    color-scheme: light dark;
    background-color: #ffffff;
    color: #000000;

    --main-border: #0F0F0F2F;
    --top-border: #0F0F0F5F;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #121212;
        color: #e0e0e0;

        --main-border: #F0F0F02F;
        --top-border: #F0F0F05F;
    }
}

body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    font-size: 90%;

    background-color: inherit;
}

a:link,
a:visited
{
    color: inherit;
    text-decoration: inherit;
}

a:link:hover
{
    text-decoration: underline;
}

#top {
    display: flow;
    border-bottom: 1px solid var(--top-border);
    padding: 2px 0.7em;

    font-size: 1.2em;
}

#top .crumb::after {
    content: " / ";
}


#main table {
    --table-width: 850px;

    width: var(--table-width);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;
}

@media screen and (max-width:1020px)
{
    #main table {
        --table-width: 80%;
    }
}

#main td { /* table cells */
    border-bottom: 1px solid var(--main-border);
    padding: 0px;
    border-collapse: collapse;
}

#main th:first-child {
    text-align: left;
}

#main th:not(:first-child) {
    text-align: right;
}

#main td {
    padding-bottom: 5px;
    padding-top: 5px;
}

#main td:first-child {
    width: 50%;
}

#main td:not(:first-child) {
    text-align: right;
    padding-left: 20px;
}